unsloth==2024.9.post4 
torch==2.4.1
accelerate==0.34.1

# pip install unsloth==2024.10.6 torch==2.4.1

#ORIGINAL REQUIREMENTS:
# unsloth==2024.9.post4 (this does not work with latest hub https://github.com/unslothai/unsloth/issues/1148#event-14729430943)
# torch==2.4.1

